.market-search{
    text-align: center;
    padding: 3% 0;    
}

.coin-container{
    padding: 0 10%;
}

.coin img{
    height: 30px;
    width: 30px;
    /* margin-right: 10px; */
}

.coin h1{
    font-size: 16px;
    width: 150px;
    display: inline-block;
    margin-left: 10px;
}
.p, .coin, .coin-data{
    display: inline-block;
}
.coin-row{
    line-height: 50px;
    border-top: black solid 1px;
}
.coin-price, .coin-volume{
    width: 12vw;
}
.coin-percent{
    width: 12vw;
}
.coin-symbol{
    margin-right: 1vw;
}   
.red{
    color: red
}

.green{
    color: green
}