
.wallet-crypto-container{
    display: inline-block;
    width: 250px;
    height: 150px;
    text-align: justify;
    background-color: #daeeede8;
    border-radius: 25px;
    padding: 5%;
    margin: 3% 0;
    color: black;
}