.footer{
    background-color: rgb(29, 32, 32);  
    color: white;
    /* width: 100vw; */
    padding: 3% 10%
}
@media(min-width: 800px){
    .e{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        display: inline-block;
    }

}
.e{
    margin-bottom: 20px;
}
