img{
    margin-top: 3%;
    width: 70vw;
    margin-bottom: 5%;
}
/* big screen */
@media(min-width: 992px){
    img{
        width: 30vw;
        max-height: 55vh;
    }
    .wrapper{
        float: left;
    }
     
}
@media(max-width: 990px){
    .we{
        display: none;
    }
}
@media(min-width: 790px){
    .we{
        margin-top: 80px;
    }
}
